@charset "utf-8";
@import "../reset.css";

.btn{
    margin-top:10px;
    margin-left:20px;
    padding:10px 20px;
}

.title_1{
    font-size: 28px;
    margin: 10px 0px 10px 10px;
}

.lists li{
    padding-left:40px;
    padding-bottom: 10px;
}

.circle{
    margin-right:5px;
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 10px;
    background-color: black;
}

